.bg-dark-blue{
    background-color: #2C3E50;
}
.bg-blue{
    background-color: #3A546D;
}
.footer-top{
    min-height: 300px;
}
.footer-bottom{
    min-height: 100px;
}
.start{
    background-color: #1ABC9C;
}
.portfolio{
    background-color: white;
}
.about{
    background-color: #1ABC9C;
}
.contact-me{
    background-color: white;
}
.location{
    height: 500px;
    background-color: #3A546D;
}



.star{
    font-size: 50px;
}