.bg-dark-blue{
    background-color: #2C3E50;
}
.bg-blue{
    background-color: #3A546D;
}
.footer-top{
    min-height: 300px;
}
.footer-bottom{
    min-height: 100px;
}
.start{
    background-color: #1ABC9C;
}
.portfolio{
    background-color: white;
}
.about{
    background-color: #1ABC9C;
}
.contact-me{
    background-color: white;
}
.location{
    height: 500px;
    background-color: #3A546D;
}
.images{
    height: 200px;
    width: 200px;
    border: dashed 2px red;
}
.row{
    border: dashed 2px red;
}
.col{
    border: solid 2px blue;
}
.col-12{
    border: solid 2px blue;
}